In [6]:
import pandas as pd
import numpy as np

output_df = pd.read_csv('Dictionaries.csv')

In [7]:
all_firm_nouns = pd.DataFrame(output_df.groupby('ticker')['firm_nouns'].sum())

In [8]:
print all_firm_nouns

                                               firm_nouns
ticker
ADI     ['item', 'business', 'company', 'overview', 'a...
AFOP    ['item', 'business', 'report', 'words', 'expre...
ALTR    ['item', 'business', 'general', 'altera', 'cor...

In [9]:
output_df

                                           firm_nouns ticker  years
0   ['item', 'business', 'company', 'overview', 'a...    ADI   2000
1   ['item', 'business', 'company', 'overview', 'w...    ADI   2001
2   ['item', 'business', 'company', 'overview', 'w...    ADI   2002
3   ['item', 'business', 'company', 'overview', 'w...    ADI   2003
4   ['item', 'business', 'company', 'overview', 'w...    ADI   2004
5   ['item', 'business', 'report', 'words', 'expre...   AFOP   2001
6   ['item', 'business', 'report', 'words', 'expre...   AFOP   2002
7   ['item', 'business', 'report', 'words', 'expre...   AFOP   2003
8   ['item', 'business', 'general', 'altera', 'cor...   ALTR   2000
9   ['item', 'business', 'general', 'altera', 'cor...   ALTR   2001
10  ['item', 'business', 'general', 'altera', 'cor...   ALTR   2002
11  ['item', 'business', 'general', 'altera', 'cor...   ALTR   2003
12  ['item', 'business', 'general', 'altera', 'cor...   ALTR   2004