In [8]:
%pylab inline
#import numpy as np
#import matplotlib.pyplot as plt

import pandas as pd
import sklearn

corp_df = pd.DataFrame.from_csv('CorporateBond.csv')
muni_df = pd.DataFrame.from_csv('MunicipalBond.csv')
stock_df = pd.DataFrame.from_csv('stockreturn2.csv')

Populating the interactive namespace from numpy and matplotlib

In [13]:
muni_df.columns

Index([u'Price', u'Coupon', u'Maturity', u'YTM', u'CurrentYield', u'Rating'], dtype='object')

In [20]:
corp_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Price,351.0,108.414387,14.353734,40.510000,102.070000,107.430000,115.165000,155.840000
Coupon,351.0,5.563419,2.038691,0.880000,4.475000,5.710000,6.840000,12.400000
YTM,351.0,4.067635,1.478447,0.728000,3.289000,4.047000,4.835000,10.193000
CurrentYield,351.0,5.262730,2.483850,0.862322,4.006796,5.157513,6.383107,25.351765

In [21]:
muni_df.describe().T

,count,mean,std,min,25%,50%,75%,max
Price,32.0,110.621250,15.375905,36.6300,108.817500,111.900000,116.985000,136.090000
Coupon,32.0,4.716250,1.152856,0.0300,4.280000,4.975000,5.137500,6.650000
YTM,32.0,3.477719,0.869377,0.1130,3.268500,3.718500,3.997750,4.563000
CurrentYield,32.0,4.175070,0.977203,0.0819,3.961095,4.343747,4.595256,5.777898